numpy
pandas
matplotlib
scikit-learn
seaborn
libwxgtk2.8-0 libwxbase2.8-0 wx-common libglu1-mesa libgl1-mesa-glx zlib1g bzip2 gpsd gpsd-clients xcalib libportaudio2 
streamlit
opencv-python
pillow
tensorflow
